<%= form_with model: question, url: url, local: true do |f| %>
  <%= render 'shared/error_message', resource: f.object %>
  <div class="field">
    <%= f.label :tags_name, "タグ" %>
    <%= f.text_field :tag_names, value: @tag_string, class: 'tag_form uk-margin-bottom' %>
  </div>
  <div class="field">
    <%= f.label :question, "問題文" %>
    <%= f.text_area :question, place_holder: '問題文を入力してください', class: 'uk-textarea uk-margin-bottom' %>
  </div>
  <div class="field">
    <%= f.label :answer, "答え" %>
    <%= f.text_area :answer, place_holder: '答えを入力してください', class: 'uk-textarea uk-margin-bottom' %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :use, value: true %>
  <%= f.submit btn_text, class: 'uk-button uk-button-primary uk-margin-top' %>
<% end %>