<% count = 1 %>
<h2>問題</h2>
<% questions.each do |question| %>
  <div class="practice_wrapper uk-card uk-box-shadow-medium">
    <div class="uk-card-header">
      <h4><%= "#{count}問/#{questions.size}問" %></h4>
    </div>
    <div class="body_container uk-card-body">
      <div class="body">
        <%= question.question %>
      </div>
      <hr>
      <span class="check_ans_btn uk-button uk-button-primary">答えを見る</span>
    </div>
    <div class="answer_container uk-card-body">
      <%= hidden_field_tag :question, question.id %>
      <div class="answer">
        <%= question.answer %>
      </div>
      <hr>
      <div>
        <%= link_to  "覚えている", study_logs_path(correctness: 1, question_id: question.id), 
        class: 'result_btn uk-button uk-button-primary', remote: true, method: :post %>
        <%= link_to  "覚えていない", study_logs_path(correctness: -1, question_id: question.id), 
        class: 'result_btn uk-button uk-button-danger', remote: true, method: :post %>
      </div>
      
    </div>
  </div>
  <% count+=1 %>
<% end %>
<div class="result_wrapper uk-card uk-box-shadow-medium">
  <div class="score uk-card-body">
    <div class="icon">
      <i class="far fa-check-circle"></i>
    </div>
    <p><span>0</span>問/<%= "#{questions.size}問　正解" %></p>
    <p class='uk-text-center'><%= link_to  "選択画面に戻る", select_questions_path, class: 'uk-button uk-button-primary' %></p>
  </div>
</div>
