<div class="uk-container">
  <h2>問題一覧</h2>
  <%= link_to  "問題を解く", select_questions_path, class: 'uk-button uk-button-primary' %>
  <%= link_to  "問題を登録する", new_question_path, class: 'uk-button uk-button-danger' %>

  <% @questions.each do |question| %>
    <div class="uk-card uk-card-default uk-card-body uk-width-expand@m uk-margin-bottom">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <% question.tags.each do |tag| %>
            <span class="uk-badge uk-padding-small"><i class="fas fa-tag"></i><%= tag.name %></span>
          <% end %>
          
        </div>
      </div>
      
      <%= render 'question_body', question: question %>
      <%= render 'answer_body', question: question %>
      
      
      
      <div class="uk-card-footer">
        <%= link_to  "編集", edit_question_path(question), class: 'uk-button uk-button-primary' %>
        <%= link_to  "削除", question_path(question), method: :delete, class: 'uk-button uk-button-danger', 
        data: { confirm: '削除しても良いですか?' } %>
      </div>
    </div>
    
    <%= render 'question_image_modal', question: question %>
    <%= render 'answer_image_modal', question: question %>

    
    
    
  <% end %>
  

  <%= link_to  "問題を解く", select_questions_path, class: 'uk-button uk-button-primary' %>
  <%= link_to  "問題を登録する", new_question_path, class: 'uk-button uk-button-danger' %>
</div>
