<div class="uk-container">
  <h2><%= @note.title %></h2>
  <p class="uk-text-meta uk-margin-remove">作成：<%= simple_time @note.created_at %></p>
  <p class="uk-text-meta uk-margin-remove">最終更新：<%= simple_time @note.updated_at %></p>
  <p>
    <% @note.tags.each do |tag| %>
      <span class="uk-badge uk-padding-small"><i class="fas fa-tag"></i><%= tag.name %></span>
    <% end %>
  </p>
  <hr>
  <div class="note_wrapper">
    <%= link_to  "編集", edit_note_path(@note), class: 'uk-button uk-button-primary' %>
    <%= link_to  "削除", note_path(@note), method: :delete, class: 'uk-button uk-button-secondary',
    data: { confirm: '削除しても良いですか？' } %>
    <%= sanitize @note.body, tags: @tags_white_list, attributes: @attributes %>
    <a href="#" uk-totop uk-scroll class='to_top_btn'></a>
  </div>
</div>